In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [8]:
data = pd.read_csv("sample.csv", header=10)

In [9]:
data

,Well,Sample,Dilution,220,222,224,226,228,230,232,...,782,784,786,788,790,792,794,796,798,800
0,A1,X1,1,1.251,0.334,0.301,0.885,0.292,0.000,0.000,...,0.016,0.016,0.016,0.016,0.016,0.015,0.015,0.016,0.016,0.014
1,A2,X1,1,1.251,0.334,0.301,0.885,0.317,0.000,0.000,...,0.023,0.023,0.023,0.023,0.023,0.021,0.022,0.021,0.022,0.022
2,A3,X1,1,-0.377,-0.408,0.301,0.684,-0.046,0.000,0.000,...,0.018,0.017,0.017,0.018,0.017,0.016,0.017,0.016,0.015,0.015
3,B1,Blank,1,3.977,3.618,4.070,3.960,4.618,5.287,5.287,...,0.051,0.050,0.049,0.050,0.050,0.050,0.049,0.050,0.050,0.049
4,B2,Blank,1,3.393,3.726,4.098,3.924,4.907,4.660,5.287,...,0.052,0.052,0.052,0.050,0.050,0.051,0.051,0.051,0.052,0.050
5,B3,Blank,1,3.439,3.322,4.038,5.287,5.287,4.939,5.287,...,0.049,0.048,0.048,0.047,0.047,0.047,0.048,0.048,0.047,0.047